FRONTEND_APP_URL=... // e.g. http://localhost:3000

APP_PORT=... // e.g. 3001
APP_URL=... // e.g. http://localhost:3001

DB_NAME=...
DB_HOST=...
DB_PORT=...
DB_USER=...
DB_PASSWORD=...

JWT_SECRET=... // random string
JWT_EXPIRE=30d // 30 days

SESSION_SECRET=... // random string
SESSION_EXPIRE=2592000000 // 30 days
