NODE_ENV=development // | production

FRONTEND_APP_PORT=...

APP_PORT=...

DB_NAME=...
DB_HOST=...
DB_PORT=...
DB_USER=...
DB_PASSWORD=...

JWT_SECRET=123456789
JWT_EXPIRE=30d // 30 days
JWT_COOKIE_EXPIRE=2592000000 // 30 days
